@page
@model asp.net_projectMGKNGG.IndexModel
@{
    ViewData["Title"] = "OrderList Page";
}



<div class="">
  
  




    <div class="row col-12 align-items-center justify-content-between" >
        
        <span class="col-10 h2 text-info">Lista wszystkich zamówień</span>
        
            <a asp-page="Create" class="btn bg-primary  text-white">Dodaj nowe zamówienie</a>
        
    
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Orders.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Orders.FirstOrDefault().Temat"></label>
                        </th>
                        <th>
                            @*Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Temat)*@
                            <label asp-for="Orders.FirstOrDefault().Zleceniodawca"></label>
                        </th>
                        <th>
                            @*Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Temat)*@
                            <label asp-for="Orders.FirstOrDefault().OpisZamowienia"></label>
                        </th>
                        <th>
                            @*Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Temat)*@
                            <label asp-for="Orders.FirstOrDefault().Data"></label>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Temat)</td>
                            <td>@Html.DisplayFor(m => item.Zleceniodawca)</td>
                            <td>@Html.DisplayFor(m => item.OpisZamowienia)</td>
                            <td>@Html.DisplayFor(m => item.Data)</td>
                            <td class="text-right">
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Czy na pewno chcesz usunąć ten rekord?')" class="btn btn-info btn-sm">Usuń</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Zmień</a>
                            </td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p>Brak zamówień</p>
            }
        </form>
    </div>

</div>
